.description {
      &__img {
        max-height: 385px;
      }

      &__title {
        margin: 0 0 28px;
        font-size: 48px;
        font-weight: bolder;
        color: @yellow;
      }

      &__list {
        margin: 0 0 12px;
        padding: 0;
      }

      &__item {
        list-style: none;
        padding-left: 95px;
        background: url(../img/Vector.svg) 8px 5px no-repeat;
        margin-bottom: 44px;
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        color: #74889B;

      }
}

.wrapper {
  display: flex;
  justify-content: center;

  &_description {
    margin-bottom: 130px;
  }
}

.white-and-yellow {
  background: url(../img/mockaroon.svg);
  padding: 149px 0 65px;
}